<html lang="en-us">
<h1>Latest News</h1>

{% for post in site.posts %}
	<div class="column">
	  <div class="card">
	    <div class="container">
	      <img class="img-valign" src="{{ site.baseurl }}/images/{{ post.image }}" style="height:100px">
	      <span class="text2"><a href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a></span>
	      <p>{{ post.excerpt }}</p>
	    </div>
			<div class="container" style="text-align:right">
			  <span class="text3">{{ post.date | date: "%m-%d-%Y"}}</span>
			</div>
	  </div>
	</div>
{% endfor %}
</html>
